<header class="blog-header my-5">
  <div class="row flex-nowrap justify-content-between align-items-center pb-3 pt-1">
    <div class="col-12 text-center">
      <a class="blog-header-logo text-dark" href="{{ site.baseurl | prepend: site.url}}/" style="font-family: 'Ultra'">{{ site.title }}</a>
    </div>
  </div>
  <div class="masthead__menu">
     <nav id="site-nav" class="greedy-nav d-flex justify-content-center">        
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item p-3 text-uppercase text-muted small">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>             
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}        
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
  </div>
</header>
