/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 3px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 0;

  &__inner-wrap {
    display:flex;
    justify-content: center;
    font-family: $ultra;

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.masthead__menu {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  clear: both;

  .site-nav {
    margin-right: auto;
    margin-left: auto;
  }

  ul {
    margin: 0;
    padding: 1em;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 600px;

  &--lg {
    font-weight: 500;
  }
}

.site-title {
  width: 100%;
  display: block;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-6;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}








